.legendary {
    background-color: #F68B20;
    color: black !important;
}

.mythic {
    background-color: #FFDE61;
    color: black !important;
}

.epic {
    background-color: #D505FF;
    color: black !important;
}

.rare {
    background-color: #00FFF6;
    color: black !important;
}

.uncommon {
    background-color: #5BFD00;
    color: black !important;
}

.normal {
    background-color: #B1B1B1;
    color: black !important;
}

.desc-text {
    color: black !important;
    font-size: 12pt;
}

#card-pouch {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

img {
    padding: 5px;
    width: 100px;
  }